---
import EducationItem from "./EducationItem.astro";
import education from "../../assets/mocks/education.json";

---
<section class="educacion pb-20 min-h-screen scroll-mt-16" id="educacion">
  <div class="max-w-6xl mx-auto px-6">
    <h2 class="text-5xl font-extrabold text-center mb-16">Educación</h2>
    
    <div class="grid grid-cols-2 gap-10">

      {education.map((dato) => (
        <EducationItem dato={dato} />
      ))}

    </div>
  </div>
</section>