---
import SkillsStarGrey from './SkillsStarGrey.astro';
import SkillsStarYellow from './SkillsStarYellow.astro';

interface Dato {
  img: string;
  alt: string;
  nameSkill: string;
  countStar: number;
}

const { dato } = Astro.props as { dato: Dato };
const TOTAL_STARS = 5;
---

<div class="flex flex-col items-center">
  <img src={dato.img} alt={dato.alt} class="w-20 h-20 mb-3 object-contain">
  <p class="text-lg font-semibold mb-2">{dato.nameSkill}</p>
  <div class="flex space-x-1">
    {Array.from({ length: TOTAL_STARS }).map((_, index) => (
      index < dato.countStar
        ? <SkillsStarYellow />
        : <SkillsStarGrey />
    ))}
  </div>
</div>
