---
---
<section class="contactme pb-16 min-h-screen scroll-mt-16" id="contacto">
    <div class="max-w-6xl mx-auto px-4">
        <h2 class="text-5xl font-extrabold text-center mb-16">Contacto</h2>
        <div class="flex flex-row items-center justify-center gap-8">
            <div class="w-1/2 order-1">
                <img src="img/Contacto.png" alt="Imagen de contacto" class="w-full">
            </div>
            <div class="w-1/2 p-5 order-2">
                <div class="p-6">
                    <h1 class="text-4xl text-left font-extrabold mb-4">¡Conectar es fácil!</h1>
                    <p class="text-base text-left leading-relaxed mb-6">
                        Si tienes alguna propuesta, deseas colaborar o simplemente quieres compartir conocimientos
                        sobre el fascinante mundo del desarrollo web, no dudes en ponerte en contacto conmigo. 
                        Estoy siempre abierto a nuevas ideas y oportunidades.
                    </p>
                    <ul class="flex space-x-4 text-2xl">
                        <li>
                            <a href="https://www.linkedin.com/in/juan-l%C3%B3pez-ortiz/" class="hover:text-color-morado transition-colors">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/jualoport" target="_blank" class="hover:text-color-morado transition-colors">
                                <i class="fa fa-github-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:juanele92@gmail.com" class="hover:text-color-morado transition-colors">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>