---
import ExperienceA from "./ExperienceA.astro";
import ExperienceB from "./ExperienceB.astro";

---

    <section class="experiencias pb-16 min-h-screen scroll-mt-16" id="experiencia">
        <div class="max-w-6xl mx-auto px-4">
            <h2 class="text-5xl font-extrabold text-center mb-16">Experiencia</h2> 
            <ExperienceA/>
            <ExperienceB/>
        </div>
    </section>