---
---
<div class="flex flex-row items-center justify-center gap-8">
                <div class="flex w-1/2 justify-end">
                    <img src="img/Guadaltech.png" alt="GuadalTech" class="max-w-full w-48 ml-auto">
                </div>
                <div class="w-1/2 p-5">
                    <div class="text-left">
                        <h3 class="text-2xl font-semibold mb-2">
                            <span class="text-color-rojo">Desarrollador web - Guadaltech</span>
                        </h3>
                        <h3 class="text-lg font-semibold mb-1 text-gray-600">Enero 2023 - Noviembre 2023</h3>
                        <p class="text-base leading-relaxed mb-4">
                            Como desarrollador web en GuadalTech Soluciones Tecnológicas, me dediqué al desarrollo
                            de sitios web para clientes de diversos sectores, utilizando tecnologías como HTML5, CSS3,
                            JavaScript, Angular, WordPress y Elementor para crear interfaces interactivas y atractivas. 
                        </p>
                    </div>
                </div>
            </div>