---
import ExperienceA from "./ExperienceA.astro";
import ExperienceB from "./ExperienceB.astro";
import experience from "../../assets/mocks/experience.json";
---

<section class="experiencias pb-16 min-h-screen scroll-mt-16" id="experiencia">
    <div class="max-w-6xl mx-auto px-4">
        <h2 class="text-5xl font-extrabold text-center mb-16">Experiencia</h2>
        {experience.map((exp, index) => (
            <>
                {index % 2 === 0 ? (
                    <ExperienceA
                        dato={exp}
                    />
                ) : (
                    <ExperienceB
                        dato={exp}
                    />
                )}
            </>
        ))}
    </div>
</section>